.matrixButtons{
    margin: 2px;
    border-style: none;
    background-color: #BC6200;
    outline: none;
}

.matrixButtons__Selected{
    margin: 2px;
    border-style: none;
    background-color: #7a3f00;
    outline: none;
}