.settingsContainer{
    display: flex;
    flex-direction: row;
    height: 500px;
    width: 395px;
    margin: 20px 20px 20px 10px;
}

.settingsButtons{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.btnOn{
    position: relative;
    border-style: none;
    height: 40px;
    width: 40px;
    margin-top: 20px;
    border-radius: 10px 0 0 10px;
    background: #f78812;
    outline: none;
}

.btnOff{
    position: relative;
    border-style: none;
    height: 40px;
    width: 40px;
    margin-top: 20px;
    border-radius: 10px 0 0 10px;
    background: #BC6200;
    outline: none;
    position: relative;
    left: 5px;
    z-index: 1;
}

.linkIcon{
    position: absolute;
    width: 50%;
    height: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.settingsMenu{
    background: #f78812;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}