.mainElementsContainer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.elementsButtonsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.elementBtn{
    width: 60px;
    height: 60px;
    background-color: inherit;
    border-style: none;
}

.elementBtnSelected{
    width: 60px;
    height: 60px;
    background-color: #BC6200;
    border-radius: 10px;
    border-style: none;
}