.mainMapContainer{
    display: flex;
    flex-direction: column;
    padding: 40px;
    color: white;
    font-size: 20px;
}

.rowsColumnsNumberContainer{
    display: flex;
    flex-direction: column;
}

.numbersContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
}

.numbersControl{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto; 
    margin-right: 0;
}

.mapInput{
    width: 40px;
    height: 30px;
    border-radius: 5px;
    border-style: none;
    background-color: #BC6200;
    margin: 0 15px;
    outline: none;
    text-align: center;
    color: white;
}

.arrowBtn{
    position: relative;
    width: 30px;
    height: 25px;
    background: none;
    border-style: none;
}

.terrainStylesContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: 0;
}

.mapStyleBtn{
    position: relative;
    width: 60px;
    height: 80px;
    background: none;
    border-style: none;
}

.mapBtnBg{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
}

.arrowBtnBg{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
}

p{
    margin: 5px 0 20px 0;
}