.displayContainer{
    background: #C06C14;
    height: 500px;
    width: 900px;
    margin: 20px 15px 20px 15px;
    border-radius: 10px;
    display: grid;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
    position: relative;
}