.displayContainer{
    height: 500px;
    width: 900px;
    margin: 20px 15px 20px 15px;
    border-radius: 10px;
    display: grid;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
    position: relative;
}

.displayBg{
    position: absolute;
    height: 100%;
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
    object-fit: cover;
    border-style: solid;
    border-width: 5px;
    border-color: #C06C14;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}